/* Write your code here. */
.bg {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  background-size: cover;
  height: 100vh;
}
.bottomPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ulContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
